/*universal styles*/
html {
  font-size: 18px;
  line-height: 1.4;
}

.container {
  width: 1024px;
  font-family: Helvetica;
}

 /*bigimage*/

 .bigimage {
   background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
   width: auto;
   height: 30rem;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   border: 1px solid black;
   /*padding-top: 1rem; I SEE NO DIFFERENCE*/
}

/*nav*/

nav {
  background-color: cadetblue;
  height: 2.5rem;
  width: 960px;
  margin: 1rem auto;
  display: flex;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  align-items: center;
  border: 1px solid black;
}

.logoname img {
  height: 1.5rem;;
  width: auto;
  padding-right: 1rem;
}

.logoname {
  display: flex;
  flex-grow: 1;
}

nav li {
  display: inline-block;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logoname span {
  display: inline-flex;
  align-items: center;
}

/*Don't just look, see*/
.see {
  display: inline-block; /*this i've copied*/
  border: 1px solid black;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
}


/*background-color: white;
  padding: 0.75rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  line-height: 2.4rem;*/
/* symb content */

.symb {
  border: 1px solid black;
  display: flex;
  height: 8rem;
  width: 960px;
  margin: 3rem auto;
}

/*philointments*/
.philointments {
  border: 1px solid black;
}

.about {
  border: 1px solid black;
  width: 960px;
  margin: 5rem;
  display: flex;
}

.green {
  display: inline-flex;
  max-width: 35%;
  justify-content: space-between;
}

.green span {
  border: 1px solid black;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  max-width: 10rem;
  max-height: 1.5rem;
}

.green p {
  border: 1px solid black;
  margin-left: 5%;
  margin-right: 5%;
}


/*footer*/

footer {
  background-color: azure;
  padding: 4rem;
  border: 1px solid black;
  max-width: 960px;
  margin: 0 auto;

}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}

.logofoot {
  display: flex;
  align-items: center;
}
