/*universal styles*/
html {
  font-size: 18px;
  line-height: 1.4;
}

.container {
  width: 960px;
  font-family: Helvetica;
}

@media screen and (max-width: 940px) {
  .content {
    max-width: 940px;
  }
} /*this closes de 940px media*/

@media screen and (max-width: 4000px) {
  .content {
    max-width: 400px;
  }
} /*this closes de 400px media*/

 /*bigimage*/

 .bigimage {
   background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
   width: auto;
   height: 30rem;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   border: 1px solid black;
   /*padding-top: 1rem; I SEE NO DIFFERENCE*/
}

@media screen and (max-width: 940px) {
  .bigimage {
    background-size: cover;
    background-position: 20%;
    height: 22rem;
  }

} /*this closes de 940px media*/

@media screen and (max-width: 400px) {
  .bigimage {
    background-size: cover;
    height: 17rem;
  }
} /*this closes de 400px media*/

/*nav*/

nav {
  background-color: cadetblue;
  height: 2.5rem;
  width: 900px;
  margin: 1rem auto;
  display: flex;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  align-items: center;
  border: 1px solid black;
}

.logoname img {
  height: 1.5rem;;
  width: auto;
  padding-right: 1rem;
}

.logoname {
  display: flex;
  flex-grow: 1;
}

nav li {
  display: inline-block;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logoname span {
  display: inline-flex;
  align-items: center;
}

nav .small {
  display: none;
}

@media screen and (max-width: 940px) {
  nav {
    flex-shrink: 1;
    justify-content: space-between;
  }
} /*this closes de 940px media*/

@media screen and (max-width: 400px) {
  nav span{
    display: none;
  }

  nav ul {
    display: none;
  }

  nav .small {
    display: inline-flex;
  }

} /*this closes de 400px media*/

/*Don't just look, see*/

.see {
  display: inline-block; /*this i've copied*/
  border: 1px solid black;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  position: absolute;
  transform: translateX(180%);
}

@media screen and (max-width: 940px) {
    .see {
      border: 1px solid black;
      font-size: 1.33rem;
      padding: 1.75rem 4rem;
      margin-top: 5rem;
      margin-right: 2rem;
    }/*closes see*/
} /*this closes de 940px media*/

@media screen and (max-width: 400px) {
  .see {
    display: flex;
    line-height: 1rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9rem;
  }
} /*this closes de 400px media*/

/* symb content */

.symb {
  border: 1px solid black;
  display: flex;
  height: 8rem;
  width: 960px;
  margin: 3.77rem auto;
  align-items: center;
  justify-content: center;
  padding-top: 1.54rem;
  padding-bottom: 1.54rem;
  font-size: 0.77rem;
}

img.bww {
  width: 3.5rem;
  height: 4rem;
}

img.bw {
  width: 5rem;
  height: 3rem;
}

.middle {

}

span.middle {
  margin-top: 1rem;
}

@media screen and (max-width: 940px) {
    .symb {
      justify-content: space-around;
    }
} /*this closes de 940px media*/

@media screen and (max-width: 400px) {
  .symb {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
} /*this closes de 400px media*/

/*philointments*/
.philointments {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 960px;
  margin: 0 auto;
  border: 1px solid black;
}

.about {
  border: 1px solid black;
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
}

.green {
  width: 35%;
}

.green span {
  border: 1px solid black;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  max-width: 10rem;
  max-height: 1.5rem;
  margin-bottom: 1rem;
}

.green p {
  border: 1px solid black;
  margin-top: 1rem;
}

@media screen and (max-width: 940px) {

} /*this closes de 940px media*/

@media screen and (max-width: 400px) {
  .about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  font-size: 0.77rem;
  }

  p.about {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

} /*this closes de 400px media*/

/*footer*/

footer {
  background-color: azure;
  padding: 4rem;
  border: 1px solid black;
  max-width: 960px;
  margin: 0 auto;

}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}

.logofoot {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 400px) {
  footer span {
    display: none;
  }

  footer img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

} /*this closes de 400px media*/
